doctype html
html
    include includes/head.pug
    body 
        h2 Nuevo producto 
        form(action='/products' method='post')
            label Title:
            input(name='title')
            label Price:
            input(name='price')
            label Thumbnail:
            input(name='thumbnail')
            input(type='submit')
        a.btn.btn-success(href='/products') Ver Productos
        include includes/foot.pug